.caption {
    height: 200px;
    width: auto;
    background-color: #5e20eb;
}

.brand {

    width: 200px;
    height: auto;
    margin-left: 1200px;
}

.description>li {
    display: none;
}

.search {
    margin-left: 600px;
}

.list {
    margin-top: 20px;
}

.menu {
    background-color: #5e20eb;
}

.tab {
    font-size: 20px;
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
}